<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<!-- <filter> -->
	<!-- <filter-name>struts2</filter-name> -->
	<!-- <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter -->
	<!-- </filter-class> -->
	<!-- </filter> -->

	<!-- <filter-mapping> -->
	<!-- <filter-name>struts2</filter-name> -->
	<!-- <url-pattern>/*</url-pattern> -->
	<!-- </filter-mapping> -->

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>


	<servlet>
		<servlet-name>rest-services</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>reivax.norac.website.rest</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>rest-services</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>CityDetails</servlet-name>
		<servlet-class>reivax.norac.website.actions.CityServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CityDetails</servlet-name>
		<url-pattern>/CityDetailsAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Countries</servlet-name>
		<servlet-class>reivax.norac.website.actions.CountriesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Countries</servlet-name>
		<url-pattern>/Home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Countries</servlet-name>
		<url-pattern>/CountryListAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ArticleDetails</servlet-name>
		<servlet-class>reivax.norac.website.actions.ArticleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ArticleDetails</servlet-name>
		<url-pattern>/ArticleDetailsAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BlogList</servlet-name>
		<servlet-class>reivax.norac.website.actions.BlogServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BlogList</servlet-name>
		<url-pattern>/Blog</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CountryDetails</servlet-name>
		<servlet-class>reivax.norac.website.actions.CountryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CountryDetails</servlet-name>
		<url-pattern>/CountryDetailsAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>About</servlet-name>
		<servlet-class>reivax.norac.website.actions.AboutMeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>About</servlet-name>
		<url-pattern>/About</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>About</servlet-name>
		<url-pattern>/AboutMe</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddArticlePreview</servlet-name>
		<servlet-class>reivax.norac.website.actions.AddArticlePreviewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddArticlePreview</servlet-name>
		<url-pattern>/AddArticlePreviewAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddArticle</servlet-name>
		<servlet-class>reivax.norac.website.actions.AddArticleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddArticle</servlet-name>
		<url-pattern>/AddArticleAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddCityPreview</servlet-name>
		<servlet-class>reivax.norac.website.actions.AddCityPreviewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddCityPreview</servlet-name>
		<url-pattern>/AddCityPreviewAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddCity</servlet-name>
		<servlet-class>reivax.norac.website.actions.AddCityServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddCity</servlet-name>
		<url-pattern>/AddCityAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddCountry</servlet-name>
		<servlet-class>reivax.norac.website.actions.AddCountryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddCountry</servlet-name>
		<url-pattern>/AddCountryAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddNewArticleForm</servlet-name>
		<servlet-class>reivax.norac.website.actions.AddNewArticleFormServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddNewArticleForm</servlet-name>
		<url-pattern>/AddNewArticleFormAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddNewCityForm</servlet-name>
		<servlet-class>reivax.norac.website.actions.AddNewCityFormServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddNewCityForm</servlet-name>
		<url-pattern>/AddNewCityFormAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddNewCountryForm</servlet-name>
		<servlet-class>reivax.norac.website.actions.AddNewCountryFormServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddNewCountryForm</servlet-name>
		<url-pattern>/AddNewCountryFormAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>reivax.norac.website.actions.SigninServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/LoginAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LoginForm</servlet-name>
		<servlet-class>reivax.norac.website.actions.LoginForm</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginForm</servlet-name>
		<url-pattern>/LoginFormAction</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ReloadCaches</servlet-name>
		<servlet-class>reivax.norac.website.actions.ReloadServerCachesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReloadCaches</servlet-name>
		<url-pattern>/ReloadServerCachesAction</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Profile</servlet-name>
		<servlet-class>reivax.norac.website.actions.ResumeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Profile</servlet-name>
		<url-pattern>/Resume</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Profile</servlet-name>
		<url-pattern>/Profile</url-pattern>
	</servlet-mapping>
</web-app>